{# <div class="canvas--A4" style="background-image:url('{{ asset('../images/letter_bg01.jpg') }}')"> #}
<div class="canvas--A4" style="background-image:url('{{ asset('../images/letter_bg01.jpg') }}')">
    <div class="d-flex justify-content-between mb-3">
        <p>LEMBERTON QUENTIN</p>
        {# <p>le {{letter.createdAt.date | date("d/m/Y")}}</p>
    </div>
    <p class="mb-4 text-center">
        Objet : Candidature pour le poste {{ (letter.jobDStatus == 0) ? 'de ' : 'd\'' }}{{letter.jobName}} au sein {{ (letter.companyDStatus == 0) ? 'de ' : 'd\'' }}{{letter.companyName}}     
    </p>
    <p>
        {% if letter.hrGender == 0 %}Madame, Monsieur {% endif %}
        {% if letter.hrGender == 1 %}Monsieur {% endif %}
        {% if letter.hrGender == 2 %}Madame {% endif %}

        {% if letter.hrName != null %}{{letter.hrName}}{% endif %}
    </p>
    <p>
        Suite à ma reconversion professionnelle en tant que développeur web full stack, je suis actuellement en pleine recherche d’emploi. Le poste {{ (letter.jobDStatus == 0) ? 'de ' : 'd\'' }}{{letter.jobName}} m'intéresse grandement, c’est pourquoi je me permets de proposer ma candidature.
    </p>
    <p>
        Vous le savez, le processus de recherche d’emploi peut s’avérer long et fastidieux, et il en va de même pour le recrutement.</br>
        Or, bien conscient de la tâche répétitive que doit être la lecture de nombreuses lettres de motivation, je me permets aujourd’hui d’innover.
    </p>
    <p>
        En effet, selon moi, une lettre de motivation n’est pas cloisonnée aux flatteries habituelles et la tartine de compliments qui les accompagnent (bien que je sois persuadé des qualités évidentes {{ (letter.companyDStatus == 0) ? 'de ' : 'd\'' }}{{letter.companyName}} ). Non, elle se doit de montrer en quelques lignes la motivation d’un candidat pour un poste donné.
    </p>
    <p>
        Alors oui, je pourrais vous dire ô combien le développement fait partie intégrante de ma vie à présent, et à quel point c’est un plaisir pour moi de me challenger un peu plus chaque jour dans ce milieu si stimulant. Qu’après des années passées à travailler dans un milieu qui de toute évidence ne me correspondait pas, je suis si épanoui d’avoir enfin trouvé un métier qui me rend heureux et me donne envie de me dépasser chaque jour un peu plus.
    </p>
    <p>
        Mais laissez moi plutôt vous annoncer que la lettre de motivation que vous êtes en train de lire a été entièrement générée par une application que j’ai développé spécialement pour ma recherche d’emploi ! (car pourquoi faire simple quand on peut faire compliqué ?)</br>
        Vous vous en doutez, {{letter.companyName}} n’est pas la seule entreprise pour laquelle je postule, et afin de maximiser mes chances de trouver un premier poste en tant que junior, j’ai décidé d’utiliser cette nouvelle approche vous changeant j'espère des lettres plus traditionnelles (#original) en me faisant gagner du temps (#efficace) . Vous pouvez bien sûr retrouver le code de cette application sur mon <a href="https://github.com/Quentin-Seekness/overkill">github</a> (#organisé).
    </p>
    <p>
        Dans l’attente d’une réponse, je reste bien sûr à votre disposition et serai ravi de vous en dire plus, sur cette application et sur ma motivation concernant le poste {{ (letter.jobDStatus == 0) ? 'de ' : 'd\'' }}{{letter.jobName}} au sein {{ (letter.companyDStatus == 0) ? 'de ' : 'd\'' }}{{letter.companyName}} au cours d’un entretien, si mon profil vous intéresse.
    </p> #}
    <div class="d-flex justify-content-between pt-5">
        <p>
            Cordialement,</br>
            Quentin Lemberton</br>
        </p>
        <p>
            17 avenue de la Galine</br>
            34170, Castelnau-le-lez</br>
            +33 7 67 04 66 20</br>
            quentin.lemberton@gmail.com</br>
        </p>
    </div>
</div>